---
date: 2022-01-06
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/fontface.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/le_fonts.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header>
      <div class="intro">
      <h1>I'd rather wear black</h1>
      <p>Todav&iacute;a est&aacute; por definirse el rol de este sitio, empezaremos con lo paranormal, pasaremos por la historia y el arte para terminar con temas cotidianos.</p>
    </div>

      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>

    </header>

<article class="head">
<section class="flexy">
  <figure >
   <img src="/img/manara.jpg" />
  </figure>
 </section>
 <section class="flexy">

  <h1>Título principal</h1>
  <p> <small> <strong><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></strong> por Fernando Mayorga </small></p>
  <p><small>La noticia de que su obra gan&oacute; el Primer Premio fue tendencia en las redes sociales.</small></p>

  <p>Entrevista con Diana Gardeneira, ganadora de la sexag&eacute;smia edici&oacute;n del Sal&oacute;n de Julio - Pintura &laquo;Fundaci&oacute;n de Guayaquil&raquo;, veinte minutos donde cuenta sobre su activismo y la pl&aacute;stica que nace de su pincel.</p>
  <figure>
   <img src="/img/sparks_bw.jpg" />
   <figcaption>
    Sparks.
   </figcaption>
  </figure>
  <p>Entrevista con Diana Gardeneira, ganadora de la sexag&eacute;smia edici&oacute;n del Sal&oacute;n de Julio - Pintura &laquo;Fundaci&oacute;n de Guayaquil&raquo;, veinte minutos donde cuenta sobre su activismo y la pl&aacute;stica que nace de su pincel.</p>

</section>
</article>

<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
</main>

    <footer>Fernando Mayorga &copy; 2023.</footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
